# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore .terraform directories in all subfolders
**/.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc